
@media (min-width:768px) and (max-width:1600px){
   .col-md-8.custom-grid{
      width: 100%;
  }
     .custom-grid .col-xl-2, .custom-grid .col-xl-3{
      width: 33.333333%;
     }
     .custom-grid  .col-xl-4 {
      width: 50%;
  }
  .custom-grid .col-md-3 {
   width: 25%;
  } 

  .custom-grid  .col-md-2 {
   width: 25%;
   margin-bottom: 15px;
   }
   .custom-grid2 .col-md-2,  .custom-grid2 .col-md-3 {
      width: 33%;
      margin-bottom: 15px;
  }
  .row.mt-5.custom-grid .col-md-4{
   width: 50%;
  }
  .col-md-4.w-40{
   width: 40% !important;
}
.row.custom-grid .col-md-6.custom-grid{
   width: 100%;
}
}

@media (min-width:1600px){

   .gauge-meter{
      padding-top: 18%;
    }
}
@media (min-width:768px) and (max-width:1299px){
   .expenditure_height{
      height: 142px;
   }
}
@media (min-width:1350px) and (max-width:1450px){
    .gauge-meter{
      padding-top: 10%;
    }
}
@media (min-width:1400px){
   .expenditure_percentage br{
      display: none;
   }
}
@media (min-width:768px) and (max-width:1350px){
    .gauge-meter{
      padding-top: 15%;
    }
}
@media (min-width:1800px){
   .row.state-graph-filter .col {
      min-width: 120px !important;
      max-width: 120px !important;
      padding: 0;
      /* height: 170px; */
  }
  .state-filter-highchart {
   /* height: 174px; */
}
}

@media (max-width:1300px){
   /* .financial-year-select{
      min-width: 50%;
   } */

   .expenditure_lacks {
      padding: 0 10px;
      height: 190px;
  }
   .white_card_body.overall-program-expenditure-amount{
      /* padding: 0; */
   }
}
@media (max-width:1400px){
   .financial-year-select{
      min-width: 50%;
   }
   .col-md-6.col-lg-4.choose-financial-year-select {
      width: 50%;
  }
  .row.state-driven{
   flex-wrap: wrap !important;
  }
  .row.state-driven .col-graph {
   width: 33.3333333%;
}
}